.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  
  .button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #a5af4c;
  }
  
  .button3:hover {
    background-color: #a5af4c;
    color: white;
  }

  .button4 {
    background-color: white; 
    color: black; 
    border: 2px solid #af4c75;
  }
  
  .button4:hover {
    background-color: #af4c75;
    color: white;
  }

  .button5 {
    background-color: white; 
    color: black; 
    border: 2px solid #ca0909;
  }
  
  .button5:hover {
    background-color: #ca0909;
    color: white;
  }