
  header {
    background-color: #666;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
  }


body {
    background-color: white;
  }
  h1 {
    color: black;
  }
  p {
    color: black;
  }


  section {
    float: left;
    padding: 20px;
    background-color: lightgrey;
    text-align: center;
    font-size: 20px;
    color: black;
    margin: 8px 6px;
  }